<%= form_with(model: @child, local: true) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Legg til barn</h2><br>

  <%= f.label :fornavn %>
  <%= f.text_field :first_name, placeholder: 'Barn Fornavn' %><br />
  <%= f.label :etternavn %>
  <%= f.text_field :last_name, placeholder: 'Barn Etternavn' %><br />
  <center>
  <%= f.label :bursdag %><br>
  <%= text_field_tag("child[birthdate]", value = @child.birthdate, html_options = { class: 'form-control datepicker', placeholder: 'Velg dato' }) %>

  <%= f.submit "Legg til barn", class: 'buy-button' %>

  </center>
<% end %>
