<%= form_with(model: @child, local: true) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Legg til deltaker</h2><br>

  <%= f.select "member_id", options_from_collection_for_select(Member.all.order('first_name ASC'), "id", "full_name",params[:member_id]), :prompt => "Velg konto", class: "chosen-select"if coach_signed_in? %><br><br>
  <%= f.label :fornavn %>
  <%= f.text_field :first_name, placeholder: 'Deltaker Fornavn' %><br />
  <%= f.label :etternavn %>
  <%= f.text_field :last_name, placeholder: 'Deltaker Etternavn' %><br />
  <center>
  <%= f.label :bursdag %><br>
  <%= f.text_field :birthdate, 'data-provide': 'datepicker', size:10, 'data-date-format': "yyyy-mm-dd" %>
  <br>

  <%= f.submit "Legg til barn", class: 'buy-button' %>

  </center>
<% end %>

