<center>
<p id="notice"><%= notice %></p>
<p>
  <strong>Navn:</strong>
  <%= @child.first_name %> <%= @child.last_name %>
</p>
<p>
  <strong>Bursdag:</strong>
  <%= @child.birthdate %>
</p>

<p>
  <strong>Forelder:</strong>
  <%= @child.member.first_name %> <%= @child.member.last_name %>
</p>

<br>
Nivå: <%= @child.level %>
<%= progress_bar("#{@child.level}0", :color => 'black', :rounded => true, style: '#4c1300') %>
<br>
<%= link_to 'Rediger', edit_child_path(@child) %>
</center>