<h2>Logg inn</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'text email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Passord", class: 'text email' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :husk_meg %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Logg inn", class: 'buy-button' %>
  </div>
<% end %>

<%= render "members/shared/links" %>
