<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <h2>Opprett konto</h2>
    <%= f.label :fornavn %>
    <%= f.text_field :first_name, autofocus: true, placeholder: "Fornavn", class: 'text email' %>
    <%= f.text_field :last_name, autofocus: true, placeholder: "Etternavn", class: 'text email' %>
    <%= f.email_field :email, placeholder: "Email", class: 'text email' %>
    <%= f.text_field :phone, placeholder: "Telefon (valgfri)", class: 'text email' %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Passord (6 tegn minimum)', class: 'text email' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Passord bekreftelse', class: 'text email' %>
    <%= f.submit "Opprett konto", class: 'buy-button' %>
  </form>
  <p>Har du allerede en konto? <%= link_to 'Logg inn.', logg_in_path %></p>
<% end %>
