<%= form_with(model: @grandparent, local: true) do |f| %>
  <% if @grandparent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grandparent.errors.count, "error") %> prohibited this grandparent from being saved:</h2>

      <ul>
      <% @grandparent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<center>

  <h2>Legg til besteforeldre</h2>

  <%= f.text_field :first_name, placeholder: 'Besteforeldre Fornavn' %><br />
  <%= f.text_field :last_name, placeholder: 'Besteforeldre Etternavn' %><br />
  <hr style="border: 1px solid color: #606060"><br>

  <%= link_to 'Hopp over', kurs_path, class: 'discreet-button' %>

  <%= f.submit "Legg til besteforeldre", class: 'buy-button' %>

  </center>
<% end %>
