<div class="page-card">

<%= form_with(model: @grandparent, local: true) do |form| %>
  <% if @grandparent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grandparent.errors.count, "error") %> prohibited this grandparent from being saved:</h2>

      <ul>
      <% @grandparent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Legg til besteforelder</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= form.label :fornavn %><br>
        <%= form.text_field :first_name %><br><br>
      </div>

      <div class="field">
        <%= form.label :etternavn %><br>
        <%= form.text_field :last_name %><br><br>
      </div>


      <div class="actions">
        <%= form.submit 'Legg til besteforelder', class: 'blue-button' %>
      </div>
    </div>
    <div class="col-md-6">
      <strong>Dine besteforeldre:</strong><br><br>
      <% @grandparents.each do |gp| %>
      <%= gp.first_name %> <%= gp.last_name%><br><br>
    <% end %>
    </div>
<% end %>

</div>