<div class="page-card">

<%= form_with(model: @participation, local: true) do |form| %>
  <% if @participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
      <% participation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Legg kurs til bruker <em><%= @member.first_name %> <%= @member.last_name %></em>
  </div>


    <div class="field dropdown-course">
      Kurs: <br> <%= form.collection_select :course_id, Course.order(:name),:id,:course_category, :prompt => "Velg kurs", class: "chosen-select" %>
    </div>
    <div class="field dropdown-course">

    <%#= select_tag "course_id", options_from_collection_for_select(Course.all, "id", "name",params[:course_id]), :prompt => "Kurs", class: "chosen-select" %>
  </div>

  <%= form.hidden_field :member_id, value: @member.id %>
  <div class="actions">
    <%= form.submit "Lag deltakelse", class: 'blue-button' %>
  </div>
<% end %>
</div>