<div style="padding:50px">
  <p id="notice"><%= notice %></p>

  <h1>Orders</h1>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Sub total</th>
        <th>Token</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.first_name %></td>
          <td><%= order.last_name %></td>
          <td><%= number_to_currency order.sub_total %></td>
          <td><%= order.token %></td>
          <td><%= link_to 'Vis', order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>