<h3>Sjekk utt</h3>


<div class="row">
	<div class="col-sm-6" style="padding: 50px">
		<%= form_for @order, url: checkout_path do |f| %>
			<div class="form-group">
				<%= f.label :fornavn %><br>
				<%= f.text_field :first_name, :class => 'textField' , value: current_member.first_name %>
			</div>
			<div class="form-group">
				<%= f.label :efternavn %><br>
				<%= f.text_field :last_name, :class => 'textField' , value: current_member.last_name %>
			</div>
			<div class="form-group">
				<%= f.label :email %><br>
				<%= f.text_field :email, :class => 'textField' , value: current_member.email %>
			</div>

		<td colspan="4" align="right">
			<%= number_to_currency current_cart.sub_total %>
		</td><br><br>

			<%= f.submit 'Sjekk ut', class: 'float:right' %>
	
		<% end %>
	</div>
	<div class="col-sm-6" style="padding: 50px">


	</div>
</div>