<div class="order-page">
	<h2>Sjekk utt</h2>
	<%= form_for @order, url: checkout_path do |f| %>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<%= f.label :dit_fornavn %><br>
				<%= f.text_field :first_name, :class => 'textField' , value: current_member.first_name %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<%= f.label :dit_etternavn %><br>
				<%= f.text_field :last_name, :class => 'textField' , value: current_member.last_name %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :email %><br>
			<%= f.text_field :email, :class => 'textField' , value: current_member.email %>
		</div>
	</div>

	<center>
		<% current_member.children.each do |child| %>
		  <%= child.first_name %>
		  <%= check_box_tag "child_ids[]", child.id %>
		<% end %><br><br>

		<%= link_to 'Legg til barn', barn_path, target: :blank, class: 'buy-button' %>
		<br><div style="font-size: 12px;padding-top: 8px;color:#c3c2c2;"> og refresh siden</div>
	</center><br>

	<td colspan="4" align="right">
		<% @items.each do |i| %>
			<%= i.course.course_category.name if i.course.course_category %>
			<%= i.course.course_niveau.name if i.course.course_niveau %>
			<%= i.course.course_place.name if i.course.course_place %>
		<% end %>

		<br><br>
		Total: <%= number_to_currency current_cart.sub_total %>
	</td><br><br>

	  <%= f.hidden_field :sub_total, :value => current_cart.sub_total %>
	  <%= f.hidden_field :member_id, :value => current_member.id %>

		<%= f.submit 'Sjekk ut', class: 'float:right' %>
		<%= link_to 'â† Tilbake', kurv_path %>

	<% end %>
</div>
<div class="col-sm-6" style="padding: 50px">


</div>