<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @order.sub_total %>
</p>

<p>
  <strong>Token:</strong>
  <%= @order.token %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
