<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @order.sub_total %>
</p>

<% @order_items.each do |item| %>
<%# if item.order_id == @order.id %>
<%= item.course.course_category.name %> <%= item.course.course_niveau.name %> <%= item.course.course_place.name %><br>
	<%= item.price %>
	<hr>
	<%# end %>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
