<div class="page-card contents">

	<p id="notice"><%= notice %></p>

	<h1>Rediger website</h1>
	<br>

	<div class="row">
		<div class="col-md-4 col-sm-4">
			<%= link_to 'Meny lenke', navs_path %>
		</div>
		<div class="col-md-4 col-sm-4">
			<%= link_to 'Meny sub-lenke', sub_navs_path %>
		</div>
		<div class="col-md-4 col-sm-4">
			<%= link_to 'Side', pages_path %>
		</div>
	</div>


</div>


<div class="page-card">

<p id="notice"><%= notice %></p>

<h3>Sider</h3>


<table class="table table-hover">
  <thead>
    <tr style="font-size: 14px">
      <th>Titel</th>
      <th>Redigér/Slett</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr style="font-size:14px !important;">
          <td><%= page.title if page.title %></td>
          <td><%= link_to 'Redigér', edit_page_path(page), style: 'color: #00394c !important' %> / <%= link_to "Slett", page_path(page), data: {:confirm => 'Er du sikker?'}, method: :delete, style: 'color: #d9534f !important' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="page-card">

<p id="notice"><%= notice %></p>

<h3>Meny lenker</h3>


<table class="table table-hover">
  <thead>
    <tr style="font-size: 14px">
      <th>Titel</th>
      <th>Side</th>
      <th>Lenke</th>
      <th>Redigér/Slett</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% @navs.each do |nav| %>
        <tr style="font-size:14px !important;">
          <td><%= nav.title if nav.title %></td>
          <td><%= nav.page.title if nav.page.present? %></td>
          <td><%= nav.link if nav.link.present? %></td>
          <td><%= link_to 'Redigér', edit_sub_nav_path(nav), style: 'color: #00394c !important' %> / <%= link_to "Slett", sub_nav_path(nav), data: {:confirm => 'Er du sikker?'}, method: :delete, style: 'color: #d9534f !important' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="page-card">

<p id="notice"><%= notice %></p>

<h3>Sub menyer</h3>


<table class="table table-hover">
  <thead>
    <tr style="font-size: 14px">
      <th>Titel</th>
      <th>Meny</th>
      <th>Side</th>
      <th>Lenke</th>
      <th>Redigér/Slett</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% @sub_navs.each do |sub_nav| %>
        <tr style="font-size:14px !important;">
          <td><%= sub_nav.title if sub_nav.title %></td>
          <td><%= sub_nav.nav.title if sub_nav.nav %></td>
          <td><%= sub_nav.page.title if sub_nav.page.present? %></td>
          <td><%= sub_nav.link if sub_nav.link.present? %></td>
          <td><%= link_to 'Redigér', edit_sub_nav_path(sub_nav), style: 'color: #00394c !important' %> / <%= link_to "Slett", sub_nav_path(sub_nav), data: {:confirm => 'Er du sikker?'}, method: :delete, style: 'color: #d9534f !important' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>