<h2>Trener profil</h2>
<div class="row" style="padding: 50px;color: #777">
	<div class="col-xs-6 col-md-4">
			<%= image_tag @coach.profile_pic.url(:profile_pic), style: 'width: 100%' if @coach.profile_pic? %>
			<%= image_tag '/profile.png' if !@coach.profile_pic? %>
	</div>
	<div class="col-xs-6 col-md-4">
		<%= @coach.first_name %> <%= @coach.last_name %><br><br>
		<%= @coach.email %><br><br>
		<%= @coach.phone if @coach.phone %><br>
		<h3><%= @coach.first_name %>'s kurs:</h3>
		<% @courses.each do |c| %>
			<% if c.day.future? %>
				<%= c.course_niveau.name if c.course_niveau %> <%= c.course_category.name %> <%= c.course_place.name %> <%= c.day.strftime('%A | %b %d') %><hr style="border: 1px solid #c3c2c2">
			<% end %>
		<% end %>
		<% @courses.each do |c| %>
			<div class="text-muted">
				<% if c.day.past? %>
					<%= c.course_niveau.name if c.course_niveau %> <%= c.course_category.name %> <%= c.course_place.name %> <%= c.day.strftime('%A | %b %d') %><hr style="border: 1px solid #c3c2c2">
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-xs-6 col-md-4">
		<%= link_to "Redigér konto", edit_coach_registration_path, class: 'btn btn-primary' if coach_signed_in? %>
	</div>
</div>
