<center style="background: rgba(255, 255, 255, .7);margin:10vw;padding: 20px;border-radius:10px">

<h2 style="color: #1c1c1c">Opprett gratis konto</h2>

<%= form_for(@member) do |f| %>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :profile_pic %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, placeholder: "Fornavn" %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, placeholder: "Efternavn" %>
  </div>

  <div class="field" style="color: #1c1c1c">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field" style="color: #1c1c1c">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Passord" %>
  </div>

  <div class="field" style="color: #1c1c1c">
    <%= f.label :passord_bekreftelse %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Passord bekreftelse" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Opprett konto", class: 'btn btn-primary' %>
  </div>
<% end %>


</center>