<div class="row">
  <div class="col-md-4 col-sm-4">
    <% if @course.course_image? %>
    <%= image_tag (@course.course_image.url(:product)), class: 'course-image' if @course.course_image %>
    <% end %>
  </div>
  <div class="col-md-4 col-sm-4">

    <p>
      <strong>Day:</strong>
      <%= @course.day.strftime("%A %b %d") %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @course.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @course.price %>
    </p>

    <p>
      <strong>Coach:</strong>
      <%= @course.coach_id %>
    </p>

    <p>
      <strong>Course niveau:</strong>
      <%= @course.course_niveau_id %>
    </p>

    <p>
      <strong>Course place:</strong>
      <%= @course.course_place_id %>
    </p>

    <p>
      <strong>Course category:</strong>
      <%= @course.course_category_id %>
    </p>

    <p>
      <strong>Time from:</strong>
      <%= @course.time_from.strftime('%H:%M') %>
    </p>

    <p>
      <strong>Time to:</strong>
      <%= @course.time_to.strftime('%H:%M') %>
    </p>
  </div>
  <div class="col-md-4 col-sm-4">
    <%= @course.coach.name %>
  </div>
</div>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
