<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @course_place.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @course_place.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_place.description %>
</p>

<%= link_to 'Edit', edit_course_place_path(@course_place) %> |
<%= link_to 'Back', course_places_path %>
