<div class="wrapper">
  <!-- Sidebar Holder -->
  <% if coach_signed_in? %>
    <nav id="sidebar">
        <div class="sidebar-header">
            <%= link_to (image_tag '/logo.png'), root_path %>
        </div>

        <ul class="list-unstyled components">
            <p><em>Konto: <%= current_coach.name %></em></p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Home 1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                </ul>
            </li>
            <li>
              <%= link_to 'Courses', edit_courses_path %>
            </li>
            <li>
              <%= link_to 'Members', members_path %>
            </li>
            <li>
              <%= link_to 'Redigér website', members_path %>
            </li>
        </ul>

    </nav>
  <% end %>

    <!-- Page Content Holder -->
  <% if !coach_signed_in? %>
    <div id="content">
          
      <% if coach_signed_in? %>
        <div class="col-xs-6">
          <div class="navbar-header">
              <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                  <i class="glyphicon glyphicon-align-left"></i>
              </button>
          </div>
        </div>

        <div class="col-xs-6">
          <%= link_to "Logg utt", destroy_coach_session_path, method: :delete, class: 'top-navbar', style: 'float:right;padding-top:13px' if coach_signed_in? %>
        </div>
      <% end %>
      <div style="float:right">
        <%= link_to "Coach login", new_coach_session_path, style: 'float:right', class: 'top-navbar' if !coach_signed_in? and !member_signed_in? %>
      </div><br>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <%= link_to (image_tag '/logo.png'), root_path if !coach_signed_in? %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">Registrer deg <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <%= link_to "<li>Logg inn</li>".html_safe, new_member_session_path if !member_signed_in? %>
                  <%= link_to "<li>Din konto</li>".html_safe, current_member if  member_signed_in? %>
                  <%= link_to "<li>Logg utt</li>".html_safe, destroy_member_session_path, method: :delete if member_signed_in? %>
                </ul>
              </li>
              <li><a href="#">OM OSS</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">GDPR - BE OM PERSONLIG DATA <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <%= link_to "<li>Logg inn</li>".html_safe, new_member_session_path if !member_signed_in? %>
                  <%= link_to "<li>Din konto</li>".html_safe, current_member if  member_signed_in? %>
                  <%= link_to "<li>Logg utt</li>".html_safe, destroy_member_session_path, method: :delete if member_signed_in? %>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">BESTILL KURSPLASS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <%= link_to "<li>Logg inn</li>".html_safe, new_member_session_path if !member_signed_in? %>
                  <%= link_to "<li>Din konto</li>".html_safe, current_member if  member_signed_in? %>
                  <%= link_to "<li>Logg utt</li>".html_safe, destroy_member_session_path, method: :delete if member_signed_in? %>
                </ul>
              </li>
              <li style="padding: 8px"><i class="fa fa-shopping-cart"> <%= link_to pluralize(current_cart.items_count, 'kurs'), kurv_path if !coach_signed_in? and current_cart.items_count > 0 %></i></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>



      <div class="container">
        <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  <% end %>
  <% if coach_signed_in? %>
    <div id="content" class="coach">
      <nav class="navbar navbar-default">
        <div class="container-fluid" style="padding: 10px;background: #f3f2f2;color:#1c1c1c !important">
          
          <div class="col-xs-6 col-md-4">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                </button>
            </div>
          </div>

          <div class="col-xs-6 col-md-4">
            <form class="navbar-form navbar-left collapse navbar-collapse">
              <%= form_with url: search_path, local: true, method: :get, html: { class: 'form-group' } do |form| %>
                <%= form.text_field :q, placeholder: "Search", data: { behavior: 'autocomplete' }, class: 'search-form form-control' %>
              <% end %>
            </form>
          </div>

          <div class="col-xs-6 col-md-4">
            <%= link_to "Logg utt", destroy_coach_session_path, method: :delete, class: 'top-navbar', style: 'float:right;padding-top:13px;color:#1c1c1c !important' %>
          </div>

          <div style="float:right">
              <%= link_to "Coach login", new_coach_session_path, class: 'top-navbar' if !coach_signed_in? and !member_signed_in? %>
              <br>
            <%= link_to "Kurs", courses_path if !coach_signed_in? %>
            <%= link_to "Logg inn", new_member_session_path if !member_signed_in? and !coach_signed_in? %>
            <%= link_to "Konto", edit_member_registration_path if member_signed_in? and !coach_signed_in? %>
            <%= link_to "Logg utt", destroy_member_session_path, method: :delete if member_signed_in? and !coach_signed_in? %>
            <%= link_to pluralize(current_cart.items_count, 'kurs'), kurv_path if !coach_signed_in? %>
          </div>
            
        </div>
      </nav>


      <div class="container">
          <p id="notice"><%= notice %></p>
        <%= yield %>
      </div>
    </div>
  <% end %>
</div>





<!-- jQuery CDN -->
 <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
 <!-- Bootstrap Js CDN -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <script type="text/javascript">
     $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
             $('#sidebar').toggleClass('active');
         });
     });
 </script>