<!DOCTYPE html>
<html>
  <head>
    <title>Larosvomme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- JS file -->
    <script href="/javascripts/jquery.easy-autocomplete.min.js"></script> 
    <script href="/javascripts/jquery.easy-autocomplete.js"></script> 

    <!-- CSS file -->
    <link rel="stylesheet" href="/stylesheets/easy-autocomplete.min.css"> 

    <!-- Additional CSS Themes file - not required-->
    <link rel="stylesheet" href="/stylesheets/easy-autocomplete.themes.min.css"> 

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%#= render 'layouts/navbar' %>
    <%= render 'layouts/index' %>
  </body>
</html>
