<h2 style="padding-top;padding-left: 50px;">Rediger konto  <span style="font-size: 14px;">ID: <%= @member.id %></span></h2>

<div class="edit-member">

  <%= form_for(@member, html: { method: :post }) do |f| %>

    <div class="row">
      <div class="col-md-6">

          <%= f.label :fornavn %><br />
          <%= f.text_field :first_name, placeholder: "Fornavn" %>
      </div>
      <div class="col-md-6">
          <%= f.label :etternavn %><br />
          <%= f.text_field :last_name, placeholder: "Etternavn" %>
      </div>
    </div>

    <br>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <br>

    <div class="field">
      <%= f.label :telefon %><br />
      <%= f.number_field :phone, placeholder: "Telefon" %>
    </div>

    <br>

    <div class="field">
      <%= f.label :passord %> <i>(la være tom hvis du ikke vil endre den)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> tegn minimum</em>
      <% end %>
    </div>

    <br>

    <div class="field">
      <%= f.label :passord_bekreftelse %> <i>(la være tom hvis du ikke vil endre den)</i><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <br>

    <div class="field">
      <%= f.label :nåværende_passord %> <i>(Vi trenger ditt nåværende passord for å bekrefte endringene dine)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <br>

    <%= f.submit "Oppdater konto", class: 'buy-button', style: 'float: right' %><br><br><br>

  <% end %>
  <br>
<div class="danger">
  <%= link_to "Slett konto", member_path(@member),
            data: {:confirm => 'Er du sikker?'}, method: :delete, class: 'btn btn-danger' %>
          </div>
</div>

<hr>


<%= link_to "← Tilbake", :back %>