<div class="row">
<% @courses.each do |c| %>
  <div class="col-sm-6">
  <div style="background: #fff; padding: 20px;margin-bottom: 20px;border-radius: 5px">
    <div style="font-size: 14px;font-weight: 500"><%= c.course_day %> <%= c.course_category.name if c.course_category %> <%= c.course_niveau.name if c.course_niveau %> <%= c.course_place.name %></div>
    <table class="table table-hover">
      <tbody>
        <% @members.each do |member| %>
          <% if member.course_id == c.id %>
            <tr style="color:#1c1c1c !important">
              <td style="padding-right: 20px"><%= link_to member.first_name, edit_member_path(member) %> <%= link_to member.last_name, edit_member_path(member) %></td>   
              <td><%= link_to member.email, edit_member_path(member) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
</div>


<div class="row">
  <% @members.each do |member| %>
    <%= link_to edit_member_registration_path(member) do %>
      <div class="col-md-4 col-sm-6">
        <div class="content">
          <div class="content-overlay"></div>

          <div class="card content-image">

            <%#= image_tag member.profile_pic.url(:profile_pic), class: 'course-image' if member.profile_pic %>
            <div class="card-body">
              <div class="row" style="margin: 0">
                  <h4 class="card-title row"><%= member.first_name if member.first_name %> <%= member.last_name if member.last_name %></h4>
              </div>
            </div>
            <hr style="margin: 3px;border:1px solid #f3f2f2">
              <div style="font-size: 14px;padding:5px">
                <span class="text-muted" style="padding: 3px">Email:</span>
              <%= member.email %>
              </div>
              <%#li class="list-group-item"><span class="text-muted">Kurs:</span> <%= member.kurs.name if member.kurs %>
            <%= link_to edit_member_registration_path(member) do %>
              <div class="content-details fadeIn-top">
                <h3>Edit deltaker</h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
